@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

.ff{
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
}
.card1{
    margin: 0px;
    width: 210px;
    border: 1px solid white;
    background: rgb(222, 49, 81);
    display: inline-block;
    border-radius: 20px;
}
.card1-img{
    width: 100%;
    border-radius: 20px 20px 0 0 ;

}
.card1-body{
    padding: 10px;
    background-color: rgb(222, 49, 81);
    border: 2px solid rgb(222, 49, 81);
    margin:0px 20px 50px 0px;
    border-radius: 0 0 20px 20px;
    color: #ffff;
}
.card1-body1{
    font-family: 'Poppins', sans-serif;
}

.card2{
    margin: 0px;
    width: 210px;
    border: 1px solid white;
    background-color: rgb(217, 59, 48);
    display: inline-block;
    border-radius: 20px;
}

.card2-body{
    padding: 10px;
    background-color: rgb(217, 59, 48);
    border: 2px solid rgb(217, 59, 48);
    margin:0px 20px 50px 0px;
    border-radius: 0 0 20px 20px;
    color: #ffff;
}

.card3{
    margin: 0px;
    width: 210px;
    border: 1px solid white;
    background-color: rgb(204, 45, 74);
    display: inline-block;
    border-radius: 20px;
}

.card3-body{
    padding: 10px;
    background-color: rgb(204, 45, 74);
    border: 2px solid rgb(204, 45, 74);
    margin:0px 20px 50px 0px;
    border-radius: 0 0 20px 20px;
    color: #ffff;
}

.card4{
    margin: 0px;
    width: 210px;
    border: 1px solid white;
    background-color: rgb(188, 26, 110);
    display: inline-block;
    border-radius: 20px;
}

.card4-body{
    padding: 10px;
    background-color: rgb(188, 26, 110);
    border: 2px solid rgb(188, 26, 110);
    margin:0px 20px 50px 0px;
    border-radius: 0 0 20px 20px;
    color: #ffff;
}

.heading{
    margin: 0px;
}
.para{
    margin: 0px;
}